@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
body{
    font-family: 'Agdasima', sans-serif;
    font-weight: 700;
    background-color: #edf6ee;
}
.principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.imagemproduto1{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/carnivoro-removebg-preview.png");
    width: 160px;
    height: 160px;
}
.icone-Voltar{
    margin-top: 0.55em;
    margin-left: 0.42em;
}
.imagem_div{
    margin-top: 1em;
    background-color: white;
    border-radius: 1em;
    padding: 4em 5em;
    margin-bottom: 2em;
}
.nomeProduto{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
}
.flex-lista{
    display: flex;
    align-items: center;
}
.paragrafo-sobre-beneficios{
    margin: 1em 2em 0 2em;
    text-align:left;
}
.pragrafoProduto{
font-size: 1.2em;
text-align: justify;
margin: 1em 2em;

}
.precoProduto{
    font-size: 1.65em;
    padding: 0.8em;
    background-color: yellow;
    border-radius: 1em;
}
.li{
    margin-top: 0.65em;
    list-style:circle;
}
.imagemproduto2{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/whey_proten-removebg-preview.png");
    width: 160px;
    height: 160px;
}
.pagina2{
    font-size: 0.88em;
    margin: 1em 0 0 0;
}

.icon{
    margin-top: 0.35em;
    color: black;
    font-size: 4em;
}
.imagemproduto3{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/whey.png");
    width: 160px;
    height: 160px;
}
.imagemproduto4{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/Hiper_mass-removebg-preview.png");
    width: 160px;
    height: 160px;
}
.imagemproduto5{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/Anabolic_Mass-removebg-preview.png");
    width: 160px;
    height: 160px;
}
.imagemproduto6{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/growth\ creatina.png");
    width: 160px;
    height: 160px;
}
.imagemproduto7{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/Creatina_Turbo-removebg-preview.png");
    width: 160px;
    height: 160px;
}
.imagemproduto9{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/Biocolagen-removebg-preview.png");
    width: 160px;
    height: 160px;
}
.imagemproduto10{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/Nuclear_Rush-removebg-preview.png");
    width: 160px;
    height: 160px;
}
.imagemproduto11{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/pasta_de_amendoim-removebg-preview.png");
    width: 160px;
    height: 160px;
}
.imagemproduto12{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/sabor_Leitinho-removebg-preview.png");
    width: 160px;
    height: 160px;
}
.imagemproduto13{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/Doce_de_Leite-removebg-preview.png");
    width: 160px;
    height: 160px;
}
.imagemproduto14{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/Amedoim_com_avelã-removebg-preview.png");
    width: 160px;
    height: 160px;
}
.imagemproduto15{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/copos\ \(1\).png");
    width: 160px;
    height: 160px;
}
.pro15{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 3em;
    margin-top: 1.5em;
}
.imagemproduto16{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/crocante-removebg-preview.png");
    width: 160px;
    height: 160px;
}